## Creating a Database and Importing CSV Data with SQL

This guide outlines the steps to create a database and import values from a CSV file into a SQL Server database.

**Software Used:**

* Microsoft SQL Server 2022 (Express) Download: [https://www.microsoft.com/en-in/sql-server/sql-server-downloads](https://www.microsoft.com/en-in/sql-server/sql-server-downloads)
* SQL Server Management Studio (SSMS) Download: [https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16](https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16)
* Python library: pyodbc (for creating connections and cursors)

**Data Source:**

* Annual Enterprise Survey 2021 financial year (provisional) Stats NZ: [https://www.stats.govt.nz/information-releases/annual-enterprise-survey-2021-financial-year-provisional/](https://www.stats.govt.nz/information-releases/annual-enterprise-survey-2021-financial-year-provisional/)

**Note:** This guide assumes you have a basic understanding of SQL and Python programming.

In [1]:
import pyodbc
import pandas as pd

In [2]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [3]:
conn = pyodbc.connect(Trusted_Connection = 'Yes',
                      Driver = ( 'ODBC Driver 17 for SQL Server'),
                      Server = 'DESKTOP-F2KPCHK\SQLEXPRESS',
                      Database = 'DB_13')

cursor = conn.cursor()

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:3: SyntaxWarning: invalid escape sequence '\S'
C:\Users\Anoop\AppData\Local\Temp\ipykernel_20596\4210304538.py:3: SyntaxWarning: invalid escape sequence '\S'
  Server = 'DESKTOP-F2KPCHK\SQLEXPRESS',

In [4]:
df = pd.read_csv("C:/Users/Anoop/Desktop/Murgesh/annual-enterprise-survey-2021-financial-year-provisional-csv.csv")

In [5]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...

In [6]:
df.tail()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [8]:
df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41715 entries, 0 to 41714
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         41715 non-null  int64
 1   Industry_aggregation_NZSIOC  41715 non-null  object
 2   Industry_code_NZSIOC         41715 non-null  object
 3   Industry_name_NZSIOC         41715 non-null  object
 4   Units                        41715 non-null  object
 5   Variable_code                41715 non-null  object
 6   Variable_name                41715 non-null  object
 7   Variable_category            41715 non-null  object
 8   Value                        41715 non-null  object
 9   Industry_code_ANZSIC06       41715 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.2+ MB

In [10]:
cursor.execute("""CREATE TABLE TEST_2(Year nvarchar(500), Industry_aggregation_NZSIOC nvarchar(500), Industry_code_NZSIOC nvarchar(500),
       Industry_name_NZSIOC nvarchar(500), Units nvarchar(500), Variable_code nvarchar(500), Variable_name nvarchar(500),
       Variable_category nvarchar(500), Value nvarchar(500), Industry_code_ANZSIC06 nvarchar(500))""")

In [12]:
for row in df.itertuples():
    cursor.execute('''Insert into DB_13.dbo.TEST_2(Year, Industry_aggregation_NZSIOC, Industry_code_NZSIOC,
       Industry_name_NZSIOC, Units, Variable_code, Variable_name,
       Variable_category, Value, Industry_code_ANZSIC06)
        Values(?,?,?,?,?,?,?,?,?,?)''',
       row.Year,
       row.Industry_aggregation_NZSIOC,
       row.Industry_code_NZSIOC,
       row.Industry_name_NZSIOC, row.Units, row.Variable_code, row.Variable_name,
       row.Variable_category, row.Value, row.Industry_code_ANZSIC06
       )
    
conn.commit()